<!DOCTYPE html>
<!----
#Coded: Joseph Mussett Oct 2015
#Update: 2016
#
------>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Simple View with multiple variable</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
  </head>
  <body>
    Var1:<input ng-model="name" type="text" id="text0"/><br>
    <br>
    Var2:<input ng-model="name" type="text" id="text1"/><br>
    <br>
    Var3:<input ng-model="name" type="text" id="text2"/><br>
    <br>
    Greetings Teknai-IT Town  {{name}}
    <br><br>
    All this is possible to post with $http services, in this way is possible to fill differents places in a form where the data is required.
<br>
    Is also possible to check in console.

<script>




</script>

</body>

</html>




